body {
    display: inline;
    font-family: arial, sans-serif;
}

#reading-queue {
    padding: 0 30px;
}

#reading-queue h1 {
    text-align: center;
    color: #333;
    margin: 5px;
}

#reading-article-container {
    text-align: right;
    position: relative;
    line-height: 30px;
    top: -40px;
}

#total-reading-article {
    font-weight: bold;
}

#reading-time-container {
    text-align: right;
    position: relative;
    line-height: 30px;
    top: -55px;
}

#warning-icon {
    font-size: 25px;
    margin-right: 5px;
    position: relative;
    top: 3px;
    cursor: pointer;
    color: red;
}

#total-reading-time {
    font-weight: bold;
}

#warning-icon:hover:after {
    position: absolute;
    content: "Your reading queue is too large, please finish reading some items";
    background: #f6f6f6;
    font-size: 10px;
    color: #333;
    border: 1px solid #ddd;
    width: 160px;
    padding: 5px;
    text-align: left;
    top: -37px;
    left: 12px;
    line-height: 14px;
    border-radius: 2px;
}

#links-header.links {
    display: grid;
    grid-template-columns: 5% 20% 49% 8% 5% 8% 5%;
    background-color: #0F999E;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    position: relative;
    top: -55px;
}

#sort-origin, #sort-title, #sort-date, #sort-readTime {
    cursor: pointer;
}

#sort-origin:hover,
#sort-title:hover,
#sort-date:hover,
#sort-readTime:hover {
    color: #104b4e;
}

#saved-links-list {
    height: 600px;
    overflow: auto;
    position: relative;
    top: -65px;
}

.links {
    display: grid;
    grid-template-columns: 5% 20% 49% 8% 5% 8% 5%;
    padding: 10px;
    text-align: left;
    border: 1px solid #eee;
    margin-bottom: 10px;
    background-color: #f1f2f2;
    border-radius: 4px;
}

.links:hover {
    background-color: #aefcff;
}

.links img {
    width: 20px;
    height: 20px;
}

.links span {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 15px;
}

.delete-btn {
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
}

.links a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.links a:visited {
    color: #000;
}

.links a:hover {
    color: #33b5e5;
    text-decoration: underline;
}

#read-text-footer {
    color: #aaa;
    line-height: 35px;
    font-size: 14px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

#read-text-footer #save-link-footer {
    position: relative;
    top: 15px;
}

@media(max-width: 720px) {
    #links-header.links {
        display: grid;
        grid-template-columns: 5% 20% 35% 15% 5% 15% 5%;
    }

    .links {
        display: grid;
        grid-template-columns: 5% 20% 35% 15% 5% 15% 5%;
    }
}