body {
    display: inline;
    font-family: arial, sans-serif;
}

#reading-queue {
    padding: 0 30px;
}

#reading-queue h1 {
    text-align: center;
    color: #333;
    margin: 5px;
}

#total-reading-time {
    text-align: right;
    position: relative;
    bottom: 33px;
    left: 950px;
    font-weight: bold;
}

#total-reading-time.warning {
    color: orange;
}

#total-reading-time.failure {
    color: red;
}

#links-header.links {
    background-color: #0F999E;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    padding-right: 0;
}

#sort-origin, #sort-title, #sort-date, #sort-readTime {
    cursor: pointer;
}

#sort-origin:hover,
#sort-title:hover,
#sort-date:hover,
#sort-readTime:hover {
    color: #33b5e5;
}

#saved-links-list {
    height: 500px;
    overflow: auto;
}

.links {
    display: grid;
    grid-template-columns: 5% 20% 49% 8% 5% 8% 5%;
    padding: 10px;
    text-align: left;
    border: 1px solid #eee;
    margin-bottom: 10px;
    background-color: #f1f2f2;
    border-radius: 4px;
}

.links img {
    width: 20px;
    height: 20px;
}

.links span {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 15px;
}

.delete-btn {
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
}

.links a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.links a:link {
    color: green;
}

.links a:visited {
    color: purple;
}

.links a:hover {
    color: #33b5e5;
    text-decoration: underline;
}

#read-text-footer {
    color: #aaa;
    line-height: 35px;
    font-size: 14px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

#read-text-footer #save-link-footer {
    position: relative;
    top: 15px;
}